
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

/* Banner Overlay */
#banner {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 45%;
    height: 50vh;
    width: 30vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    justify-content: flex-start;
    color: white;
    overflow-y: auto;
}

#banner h2 {
  font-size: 2vw;
}

/* Banner Content */
#banner-content {
    position: relative;
}

#banner-content ul li{
    position: relative;
    margin-bottom: 1.2vh;
}

#banner h2 {
    margin-top: 0;
}

/* Close Button */
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
}

#filter_cat {
  position: absolute;
  bottom: 10%;
  right: 1%;
  background-color: rgba(0, 0, 0, 0.45);
  height: 50vh;
  width: 35vw;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  overflow-x: hidden; /* Add this line to enable vertical scrolling */
  margin-left: 1vw;
}

#filter_cat.hidden {
    visibility: hidden; /* Elemento escondido */
  }

#filter_cat label {
  font-size: 1.2vw;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;

}

#filter_cat input {
  position: relative;
  opacity: 1;
  cursor: pointer;
  height: 1.5vh;
  width: 1.2vw;
}

#close-btn:hover,
#close-btn:focus {
    background: none;
    border: none;
    outline: auto;
    font-family: 'Roboto', sans-serif;
}

#colors_description {
  color: white;
  display: flex;
  margin-left: 1vw;
}

#close-btn-ctg {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
}

#close-btn-ctg:hover,
#close-btn-ctg:focus {
    background: none;
    border: none;
    outline: auto;
    text-align: flex-end;
    font-family: 'Roboto', sans-serif;
}

.minimized-container {
  position: absolute;
  bottom: 10%;
  right: 1%;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 3vh;
  cursor: pointer;
}

.minimized-container button {
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
