
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: rgba(97, 88, 88, 1) !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

/* Banner Overlay */
#banner {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 45%;
    height: 50vh;
    width: 30vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    justify-content: flex-start;
    color: white;
    overflow-y: auto;
}

#banner h2 {
  font-size: 2vw;
}

/* Banner Content */
#banner-content {
    position: relative;
}

#banner-content ul li{
    position: relative;
    margin-bottom: 1.2vh;
}

#banner h2 {
    margin-top: 0;
}

/* Close Button */
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
}

#filter_cat {
  position: absolute;
  bottom: 10%;
  right: 1%;
  background-color: rgba(0, 0, 0, 0.45);
  height: 60vh;
  width: 35vw;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  overflow-x: hidden; /* Add this line to enable vertical scrolling */
  margin-left: 1vw;
}

#filter_cat.hidden {
    visibility: hidden; /* Elemento escondido */
  }

#filter_cat label {
  font-size: 1.2vw;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;

}

#filter_cat input {
  position: relative;
  opacity: 1;
  cursor: pointer;
  height: 2.5vh;
  width: 1.8vw;
}

.categorie label {
  cursor: pointer;
  overflow-y: hidden;
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}

.categorie input[type="radio"]:checked + label {
  text-decoration: underline;
  font-weight: bold;        /* Makes the text bold */
  font-size: 1.2em;         /* Increases the font size */
  padding: 5px;             /* Adds some padding around the label */
  border-radius: 5px;       /* Rounds the corners for a nicer look */
  transition: all 0.3s ease; /* Adds a smooth transition effect */
}

#close-btn:hover,
#close-btn:focus {
    background: none;
    border: none;
    outline: auto;
    font-family: 'Roboto', sans-serif;
}

.underline {
  text-decoration: underline;  /* Underline the text */
  cursor: pointer;              /* Set cursor to pointer on hover */
}

.underline.selected {  /* Style for the selected category */
  font-weight: bold;        /* Make the text bold */
  /* Add additional styles for highlighting if needed */
}

#colors_description {
  color: white;
  display: flex;
  margin-left: 1vw;
}

#close-btn-ctg {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
}

#close-btn-ctg:hover,
#close-btn-ctg:focus {
    background: none;
    border: none;
    outline: auto;
    text-align: flex-end;
    font-family: 'Roboto', sans-serif;
}

.minimized-container {
  position: absolute;
  bottom: 8%;
  right: 1%;
  color: white;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Align items to the start horizontally */
  justify-content: center; /* Center items vertically within the container */
  width: 12vw;
  height: 8.5vh;
  max-height: 55px;
  max-width: auto;
  cursor: pointer;
  border-radius: 0.5vw;
  padding: 0.5vw;
}

.minimized-container .expand-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: flex-end; /* Align the button to the end (right) */
}

.minimized-container .expand-button img {
  width: auto;
  filter: invert(1); /* Make the image white */
  margin-bottom: 0.2vh;
  flex: 0 0 1.5vh; /* Fixed height for the button (image) */
}

.minimized-container .minimized-text {
  text-align: center; /* Center the text */
  width: 100%; /* Ensure the text takes full width */
  justify-content: center; !important;
  height: 100%;
  font-size: 1vw; /* Adjust font size if needed */
  font-weight: bold; /* Ensure the text is bold */
  margin-right: 1vw;
  flex: 1; /* Take up remaining space */
  margin-top: 0.3vh; /* Optional: space between image and text */

}

/* Hover and Focus Styles for the Button */
.minimized-container .expand-button:hover,
.minimized-container .expand-button:focus {
  background: none;
  border: none; /* Remove border on hover and focus */
  color: white;
  outline: auto;
}

.menu-button {
  height: 3vh;
  width: 3vw;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  align-self: flex-end; /* Align the button to the end (right) */
}



#filter_cat label:nth-child(1)::after {
  background-color: #FF0000; /* Red */
}

.color-square {

  width: 20px;
  height: 20px;
}

.cat_title {
  font-size: 2vw; !important;
}

#category-banner {
  display: none;
}
